name: CI
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: rathdrumcfr_test
          options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
        ports:
          - 3306:3306

    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo
          coverage: pcov

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-interaction

      - name: Copy Env File
        run: cp .env.example .env

      - name: Generate App Key
        run: php artisan key:generate

      - name: Install NPM dependencies
        run: npm ci

      - name: Compile assets
        run: npm run build

      - name: Execute tests
        run: php artisan test --coverage
        env:
          DB_PORT: ${{ job.services.mysql.ports[3306] }}

  deploy:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main' && github.event_name == 'push' && success()
    steps:
      - uses: actions/checkout@v4
      - name: Deploy Application
        env:
          USER: ${{ secrets.USER }}
          HOST: ${{ secrets.HOST }}
          DEPLOY_SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$DEPLOY_SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          echo "Host *" > ~/.ssh/config
          echo "  StrictHostKeyChecking no" >> ~/.ssh/config
          echo "  UserKnownHostsFile /dev/null" >> ~/.ssh/config

          ssh -t -i ~/.ssh/id_rsa $USER@$HOST "export PS1=''; bash -i /var/www/rathdrum_cfr/deploy.sh"
